@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unica One", Arial, Helvetica, sans-serif;
    border-radius: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434e60;
}

.bottom-buttons,
.calculator,
.buttons,
.digit-buttons,
.operator-buttons {
    display: flex;
    gap: 9px;
}

.calculator {
    background-color: #2D3142;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 498.5px;
    height: 800px;
}

.displays {
    background-color: #434e60;
    color: #E9E8E8;
    font-weight: bold;
    width: 438.5px;
    height: 150px;
}

.equation-display,
.current-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.equation-display {
    font-size: 35px;
    height: 40%;
}

.current-display {
    font-size: 50px;
    height: 60%;
}

.buttons {
    flex-direction: column;
    align-items: flex-start;
}

button {
    border: none;
    color: #E9E8E8;
    font-size: 35px;
}

.bottom-buttons {
    align-items: flex-start;
    justify-content: space-around;
}

.digit-buttons {
    flex-wrap: wrap;
    width: 355.5px;
}

.digit-buttons button {
    background-color: #434e60;
    width: 112.5px;
    height: 112.5px;
}

.operator-buttons {
    flex-direction: column;
    height: 477px;
}

.operator-buttons button {
    width: 88.2px;
    height: 88.2px;
    background-color: #D64045;
}

.top-buttons {
    display: flex;
    gap: 10px;
}

.top-buttons button {
    width: 209.7px;
    height: 88.2px;
    font-size: 45px;
    background-color: #d64045;
}

#clear-button {
    width: 234px;
}

#decimal-button {
    font-size: 60px;
}