* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator,
.buttons,
.digit-buttons,
.right,
.operator-buttons {
    display: flex;
    gap: 9px;
}

.calculator {
    background-color: #913175;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 488.5px;
    height: 714px;
    border-radius: 30px;
}

.displays {
    background-color: #20262E;
    width: 438.5px;
    height: 150px;
    text-align: end;
}

.equation-display {
    height: 40%;
}

.current-display {
    height: 60%;
}

.buttons {
    align-items: flex-start;
    width: 438.5px;
}

button {
    border-radius: 25px;
    border: none;
    background-color: #d6719b;
}

.digit-buttons {
    flex-wrap: wrap;
    justify-content: center;
    width: 357.5px;
}

.digit-buttons button {
    width: 112.5px;
    height: 112.5px;
}

#zero {
    width: 357.5px;
}

.right {
    flex-direction: column;
    width: 75px;
}

.right button {
    width: 72px;
    height: 72px;
}

.operator-buttons {
    flex-direction: column;
}